.adminViewContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.createTaskContainer {
  min-width: 200px;
  max-width: 700px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  input {
    width: 94%;
    align-self: baseline;
  }

  textarea {
    width: 95%;
    height: 4rem;
    align-self: baseline;
  }

  button {
    width: fit-content;
  }
}

.taskListContainer {
  min-width: 200px;
  padding: 1rem;
}

.taskContainer {
  padding: 1rem;
  border: 2px solid $TextColor;
  margin-bottom: 0.5rem;
  border-radius: $RoundedCorners;
}

.taskContainer h3 {
  margin: 0;
}

.disableNextTaskBtn {
  opacity: 0.6;
  cursor: not-allowed;
  
}