$PrimaryColor:#EEA47F;
$TextColor: #094579;
$Black: rgb(25, 23, 23);
$White: rgb(244, 236, 236);
$RoundedCorners: 8px;
$PrimaryFont: 'Lato', sans-serif;
$SmallPadding: 0.5rem;
$HoverColor: #0a2741;

.startPageContainer {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-right: 0;
  }
  
  .messageBox {
    outline: 4px solid $HoverColor;
    background-color: white;
    border-radius: $RoundedCorners;
    margin: 0 auto;
    flex: 1 1 auto; 
    max-width: 80vw;
    padding: $SmallPadding;
  }
  
  .startPageContainer button {
    
  }

  .loggedInUsersList {
    list-style: none;
  }

  .joinedUsersList {
    list-style: none;
  }