.sessionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 1rem;
    max-width: 100vw;
}
    
.taskTitleDivContainer {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  margin-right: 2rem;
}

.singleTaskTitleCard {
  border: 2px solid $TextColor;
  border-radius: $RoundedCorners;
  padding: $SmallPadding 1rem;
  background-color: white;
  min-width: 200px;
}

.singleTaskTitleCard h5 {
  margin: 5px 0;
}

.resultsContainer { 
  grid-area: 2 / 1 / 3 / 3;
 }

 .votesContainer { 
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardsDivContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
} 

.cardsDivContainer {
  background-color: transparent;
  --card-height: 300px;
  width: calc(3.5 * var(--card-height)/2.5);
  height: var(--card-height);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.finishedVotesContainer {
  background: linear-gradient(to right bottom, white, $PrimaryColor);
  outline: 2px solid $TextColor;
  border-radius: $RoundedCorners;
  margin-top: 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.activateAnimation {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  background-image: url(https://images.unsplash.com/photo-1541278107931-e006523892df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: $RoundedCorners;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  h4, p {
    background-color: rgba($color: white, $alpha: 0.85);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: $RoundedCorners;
  }
}

/* Style the back side */
.flip-card-back {
  background-color: #c8c1c1;
  color: $TextColor;
  transform: rotateY(180deg);
  border-radius: $RoundedCorners;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}