$PrimaryColor:#EEA47F;
$TextColor: #00539C;
$Black: rgb(25, 23, 23);
$White: rgb(244, 236, 236);

:root {
  background-color: $PrimaryColor;
}

@import "header";
@import "adminView";
@import "voting"; 
