$PrimaryColor:#EEA47F;
$TextColor: #094579;
$Black: rgb(25, 23, 23);
$White: rgb(244, 236, 236);
$RoundedCorners: 8px;
$PrimaryFont: 'Lato', sans-serif;
$SmallPadding: 0.5rem;
$HoverColor: #0a2741;

:root {
  background-color: $PrimaryColor;
  color: $TextColor;
  font-family: $PrimaryFont;
}

button {
  background-color: $TextColor;
  color: $White;
  border-radius: $RoundedCorners;
  padding: $SmallPadding;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color:$HoverColor;
  }
}

input {
  border-radius: $RoundedCorners;
  padding: $SmallPadding;
}

textarea {
  border-radius: $RoundedCorners;
  padding: $SmallPadding;
}

::placeholder {
  font-family: $PrimaryFont;
}

@import "header";
@import "adminView";
@import "voting"; 
